.hide{
	display:none;
}

.showIB{
	display:inline-block;
}

.showB{
	display: block;
}

.showI{
	display: inline;
}

/*Mobile Styles*/
@media only screen and (max-width:480px){

	/*outer styles*/
	#content{
			width:100%;
			margin:0 auto;
			padding:0;
			box-sizing:border-box;
	}

	/*inner styles*/
	#content #innerContent{
			width:100%;
			margin:0 auto;
			padding:0;
			box-sizing:border-box;
	}

	/*Content styles here*/
	#content{
		color:#000000;
		margin-top:35px;
	}

	#content #innerContent{
		padding: 18px;
		background-color: #FFFFFF;
	}

	#content #innerContent #summary p{
		line-height:27px;
	}

	#content #innerContent #summary a{
		text-decoration:none;
		color:#FFFFFF;
		background-color: #7b818c;
		padding:10px;
		line-height:30px;
		border:2px solid  #7b818c;
		border-radius:8px;
	}

	#content #innerContent #summary a:hover{
		text-decoration:none;
		background-color:#303238;
	}

}

/*tablet styles*/
@media only screen and (min-width:481px) and (max-width:979px){

	/*outer styles*/
	#content{
			width:100%;
			margin:0 auto;
			padding:0;
			box-sizing:border-box;
	}

	/*inner styles*/
	#content #innerContent{
			width:100%;
			margin:0 auto;
			padding:0;
			box-sizing:border-box;
	}

		/*Content styles here*/
		#content{
			color:#FFFFFF;
			margin-top:35px;
		}

		#content #innerContent{
			padding: 18px;
			font-family: sans-serif;
			width:95%;
		}

		#content #innerContent #mainIntroduction {
	    font-size: 22pt;
			font-weight: 800;
			text-align: center;
		}

		#content #innerContent #summary{
			font-size: 14pt;
			text-align: center;
		}

		#content #innerContent #summary span{
			display: inline-block;
			margin-bottom: 15px;
		}

		#content #innerContent #keySkills{
			font-size: 14pt;
		}

		#content #innerContent #skillsList {
	    display: block;
	    width: 380px;
	    margin: 0 auto;
	    font-size: 16pt;
		}

		#content #innerContent #summaryPart2{
			font-size: 14pt;
			text-align: center;
			line-height: 20px;
		}

		#content #innerContent #readMore {
	    display: block;
	    text-align: center;
	    width: 125px;
	    padding: 5px;
	    text-decoration: none;
	    color: #FFFFFF;
	    border: 2px solid #FFF;
	    border-radius: 2px;
	    margin: 0 auto;
		}
}

/*Desktop styles*/
@media only screen and (min-width:980px){
	/*outer styles*/
	#content{
			width:100%;
			margin:0 auto;
			padding:0;
			box-sizing:border-box;
	}

	/*inner styles*/
	#content #innerContent{
			width:980px;
			margin:0 auto;
			padding:0;
			box-sizing:border-box;
	}

	/*Content styles here*/
	#content{
		color:#FFFFFF;
		margin-top:35px;
	}

	#content #innerContent{
		padding: 18px;
		font-family: sans-serif;
	}

	#content #innerContent #mainIntroduction {
    font-size: 26pt;
		font-weight: 800;
		text-align: center;
	}

	#content #innerContent #summary{
		font-size: 14pt;
		text-align: center;
	}

	#content #innerContent #summary span{
		display: inline-block;
		margin-bottom: 15px;
	}

	#content #innerContent #keySkills{
		font-size: 14pt;
	}

	#content #innerContent #skillsList {
    display: block;
    width: 380px;
    margin: 0 auto;
    font-size: 16pt;
	}

	#content #innerContent #summaryPart2{
		font-size: 14pt;
		text-align: center;
		line-height: 20px;
	}

	#content #innerContent #readMore {
    display: block;
    text-align: center;
    width: 125px;
    padding: 5px;
    text-decoration: none;
    color: #FFFFFF;
    border: 2px solid #FFF;
    border-radius: 2px;
    margin: 0 auto;
	}
}
