/*Mobile Styles*/
@media only screen and (max-width:480px){
	#membersBar{
		height:270px;
		margin-top: 15px;
	}

	#membersForm{
		display: block;
		margin:0 auto;
		text-align: center;
	}

	#membersForm .mainField{
		display: block;
		margin-bottom:25px;
	}

	#passwordField{
		margin-left:-30px;
	}

	.membersLabel{
		padding:0;
		margin: 0  0 15px 0;
		font-weight:800;
		font-size:10pt;
		display:inline;
	}

	#passwordLoginMain,
	#emailLoginMain{
		background: #7B8170;
		border: 2px solid #FFFFFF;
		border-radius: 4px;
		font-size:10pt;
		color: #FFFFFF;
		display:inline-block;
		width:40%;
		margin:0;
	}

	#login{
		background: none;
		display: block;
		margin:0 43% 25px;
		border: 2px solid #FFFFFF;
		padding: 6px 20px;
		color: #FFFFFF;
		text-transform: uppercase;
		cursor:pointer;
	}

	#login:hover{
		text-decoration:none;
		-webkit-transition: background-color 1000ms ease;
		-moz-transition: background-color 1000ms ease;
		-ms-transition: background-color 1000ms ease;
		-o-transition: background-color 1000ms ease;
		transition: background-color 1000ms ease;
		background-color: #FFFFFF;
		color:#000000;
	}

	#passwordLoginMain{
		width:37%;
	}

	#rememberMeContainer{
		margin-left:35px;
		margin-top: 5px;
	}

	#rememberMe{
		vertical-align: middle;
		margin-left: 10px;
	}

	#registerLink{
		color:#FFF;
		text-transform: capitalize;
		text-decoration: none;
	}

	#registerLink:hover{
		text-decoration:none;
		color: #7b818c;
	}

	#welcomeUser{
		 display:block;
		 margin:0 auto 20px;;
		 text-align: center;
		 width:43%;
	}

	.userNavLinks{
		text-decoration: none;
		background: none;
		border: 2px solid #FFFFFF;
		padding: 6px 20px;
		color: #FFFFFF;
		text-transform: uppercase;
		cursor:pointer;
		margin-right: 5px;
		margin-bottom: 20px;
		width:160px;
		display: inline-block;
		font-size: 10pt;
	}

	.userNavLinks:hover{
		text-decoration:none;
		-webkit-transition: background-color 1000ms ease;
		-moz-transition: background-color 1000ms ease;
		-ms-transition: background-color 1000ms ease;
		-o-transition: background-color 1000ms ease;
		transition: background-color 1000ms ease;
		background-color: #FFFFFF;
		color:#000000;
	}
}

/*tablet styles*/
@media only screen and (min-width:481px) and (max-width:979px){
	#membersBar{
		height:200px;
		margin-top: 15px;
	}

	#membersForm{
		display: block;
		margin:0 auto;
		width:50%;
		text-align: center;
	}

	.mainField{
		display: block;
		margin-bottom:25px;
	}

	#passwordField{
		margin-left:-30px;
	}

	.membersLabel{
		padding:0;
		margin: 0  0 15px 0;
		font-weight:800;
		font-size:10pt;
		display:inline;
	}

	#passwordLoginMain, #emailLoginMain{
		 background: #7B8170;
		 border: 2px solid #FFFFFF;
		 border-radius: 4px;
		 font-size:10pt;
		 color: #FFFFFF;
		 display:inline-block;
		width:40%;
			margin:0;
	}

	#login{
		background: none;
		display: block;
		margin:0 43% 25px;
		border: 2px solid #FFFFFF;
		padding: 6px 20px;
		color: #FFFFFF;
		text-transform: uppercase;
		cursor:pointer;
	}

	#login:hover{
		text-decoration:none;
		-webkit-transition: background-color 1000ms ease;
		-moz-transition: background-color 1000ms ease;
		-ms-transition: background-color 1000ms ease;
		-o-transition: background-color 1000ms ease;
		transition: background-color 1000ms ease;
		background-color: #FFFFFF;
		color:#000000;
	}

	#passwordLoginMain{
		width:37%;
	}

	#rememberMeContainer{
		margin-left:35px;
		margin-top: 5px;
	}

	#rememberMe{
		vertical-align: middle;
		margin-left: 10px;
	}

	#registerLink{
		color:#FFF;
		text-transform: capitalize;
		text-decoration: none;
	}

	#registerLink:hover{
		text-decoration:none;
		color: #7b818c;
	}

	#welcomeUser{
		 display:block;
		 margin:0 auto 20px;;
		 text-align: center;
		 width:425px;
	}

	.userNavLinks{
		text-decoration: none;
		background: none;
		border: 2px solid #FFFFFF;
		padding: 6px 20px;
		color: #FFFFFF;
		text-transform: uppercase;
		cursor:pointer;
		margin-right: 5px;
		margin-bottom: 20px;
		width:160px;
		display: inline-block;
		font-size: 10pt;
	}

	.userNavLinks:hover{
		text-decoration:none;
		-webkit-transition: background-color 1000ms ease;
		-moz-transition: background-color 1000ms ease;
		-ms-transition: background-color 1000ms ease;
		-o-transition: background-color 1000ms ease;
		transition: background-color 1000ms ease;
		background-color: #FFFFFF;
		color:#000000;
	}
}

/*Desktop styles*/
@media only screen and (min-width:980px){
	#membersBar{
		 margin-top: 15px;
	}

	#membersForm{
		 display: block;
		 margin:0 auto;
		 width:85%;
		 text-align: center;
	}

	.mainField{
		 display: inline-block;
	}

	.membersLabel{
		 padding:0;
		 margin: 0  0 15px 0;
		 font-weight:800;
		 font-size:10pt;
		 display:inline;
	}

	#passwordLoginMain, #emailLoginMain{
		 background: #7B8170;
		 border: 2px solid #FFFFFF;
		 border-radius: 4px;
		 font-size:10pt;
		 color: #FFFFFF;
		 display:inline-block;
		 width:60%;
		 margin:0;
	}

	#login{
		 background: none;
		 border: 2px solid #FFFFFF;
		 padding: 6px 20px;
		 color: #FFFFFF;
		 text-transform: uppercase;
		 cursor:pointer;
		 margin:0;
	}

	#login:hover{
		 text-decoration:none;
		 -webkit-transition: background-color 1000ms ease;
		 -moz-transition: background-color 1000ms ease;
		 -ms-transition: background-color 1000ms ease;
		 -o-transition: background-color 1000ms ease;
		 transition: background-color 1000ms ease;
		 background-color: #FFFFFF;
		 color:#000000;
	}

	#rememberMeContainer{
		 margin-left:35px;
		 margin-top: 5px;
	}

	#rememberMe{
		 vertical-align: middle;
		 margin-left: 10px;
	}

	#registerLink{
		 color:#FFF;
		 text-transform: capitalize;
		 text-decoration: none;
	}

	#registerLink:hover{
		 text-decoration:none;
		 color: #7b818c;
	}

	#welcomeUser{
		 display:block;
		 margin:0 auto 20px;;
		 text-align: center;
		 width:80%;
	}

	.userNavLinks{
		text-decoration: none;
		background: none;
		border: 2px solid #FFFFFF;
		padding: 6px 20px;
		color: #FFFFFF;
		text-transform: uppercase;
		cursor:pointer;
		margin-right: 70px;
		margin-bottom: 20px;
		width:200px;
		display: inline-block;
	}

	.userNavLinks:hover{
		text-decoration:none;
		-webkit-transition: background-color 1000ms ease;
		-moz-transition: background-color 1000ms ease;
		-ms-transition: background-color 1000ms ease;
		-o-transition: background-color 1000ms ease;
		transition: background-color 1000ms ease;
		background-color: #FFFFFF;
		color:#000000;
	}
}
