/*Mobile Styles*/
@media only screen and (max-width:480px){

	#content{
		width:100%;
		margin:0 auto;
		padding:0;
		box-sizing:border-box;
	}

	#content #innerContent{
		width:90%;
		margin:0 auto;
		padding:0;
		box-sizing:border-box;
	}

	#content #innerContent h1{
		text-align:center;
		font-family:Pacifico;
	}

	#mainIntroductionAboutMe,
	#keySkills,
	#myClients
	{
		font-size: 12pt;
		line-height: 20px;
	}

	#marineTavernLogoImage{
		background-color: #FFFFFF;
		border-radius:7em;
	}
}

/*tablet styles*/
@media only screen and (min-width:481px) and (max-width:979px){

	#content{
		width:100%;
		margin:0 auto;
		padding:0;
		box-sizing:border-box;
	}

	#content #innerContent{
		width:960px;
		max-width:90%;
		margin:0 auto;
		padding:0;
		box-sizing:border-box;
	}

	#content #innerContent h1{
		text-align:center;
		font-family:Pacifico;
	}

	#mainIntroductionAboutMe,
	#keySkills,
	#myClients
	{
		font-size: 14pt;
		line-height: 25px;
	}

	#marineTavernLogoImage{
		background-color: #FFFFFF;
		border-radius:4em;
	}
}

/*Desktop styles*/
@media only screen and (min-width:980px){

	#content{
		width:100%;
		margin:0 auto;
		padding:0;
		box-sizing:border-box;
	}

	#content #innerContent{
		width:960px;
		max-width:80%;
		margin:0 auto;
		padding:0;
		box-sizing:border-box;
		font-family: sans-serif;
	}

	#content #innerContent h1{
		text-align:center;
		font-family:Pacifico;
	}

	#mainIntroductionAboutMe,
	#keySkills,
	#myClients
	{
		font-size: 14pt;
		line-height: 25px;
	}

	#marineTavernLogoImage{
		background-color: #FFFFFF;
		border-radius:4em;
	}
}
