/*Mobile Styles*/
@media only screen and (max-width:480px){

	#content{
		width:100%;
		margin:0 auto;
		padding:0;
		box-sizing:border-box;
	}

	#content #innerContent{
		width:90%;
		margin:0 auto;
		padding:0;
		box-sizing:border-box;
	}

	#content #innerContent h1{
		text-align:center;
		font-family:Pacifico;
	}


}

/*tablet styles*/
@media only screen and (min-width:481px) and (max-width:979px){

	#content{
		width:100%;
		margin:0 auto;
		padding:0;
		box-sizing:border-box;
	}

	#content #innerContent{
		width:960px;
		max-width:80%;
		margin:0 auto;
		padding:0;
		box-sizing:border-box;
	}

	#content #innerContent h1{
		text-align:center;
		font-family:Pacifico;
	}


}

/*Desktop styles*/
@media only screen and (min-width:980px){

	#content{
		width:100%;
		margin:0 auto;
		padding:0;
		box-sizing:border-box;
	}

	#content #innerContent{
		width:960px;
		max-width:80%;
		margin:0 auto;
		padding:0;
		box-sizing:border-box;
	}

	#content #innerContent h1{
		text-align:center;
		font-family:Pacifico;
	}

	
}
