.errors {
		background-color: red;
		font-weight: 800;
		text-transform: capitalize;
		padding: 0 10px;
		margin: 30px auto 0 auto;
	  width: 80%;
}

.displayBlock{
	display: block !important;
}

.displayIB{
	display: inline-block !important;
}

.displayInline{
	display: inline !important;
}

.hide{
	display: none !important;
}

#title{
	text-align: center;
	font-family: Pacifico;
}

/*Mobile Styles*/
@media only screen and (max-width:480px){
	.buttonDefault{
		background: none;
		text-align: center;
		display:inline-block;
		border: 2px solid #FFFFFF;
		padding: 10px 35px;
		width: 150px;
		margin: 10px 30px 10px 0;
		color: #FFFFFF;
		text-decoration:none;
		text-transform: uppercase;
		cursor:pointer;
		font-size: 9pt;
	}

	.buttonDefault:hover,
	.buttonDefault:focus{
		text-decoration:none;
		-webkit-transition: background-color 1000ms ease;
		-moz-transition: background-color 1000ms ease;
		-ms-transition: background-color 1000ms ease;
		-o-transition: background-color 1000ms ease;
		transition: background-color 1000ms ease;
		background-color: #FFFFFF;
		color:#000000;
	}

	.tasksMenuMain{
		border:1px solid #FFF;
		margin: 25px auto;
		width: 95%;
		text-align: center;
	}

	.tasksMenuLabel{
		margin: -10px 5px;
		padding: 0px 5px;
		width: 115px;
		background: #303238 url(../../images/bg01.png);
	}

	.tasksMenuInfo {
		width: 90%;
		margin: 25px auto 0;
	}

	.tasksMenuContainer {
		width: 95%;
		margin: 15px auto;
	}

	.subMenuContainer {
		margin: 15px auto;
		max-width: 95%;
		text-align: center;
	}

	#cardsMenu{
		margin-bottom: 60px !important;
	}

	#cardsMenuLabel{
		width:140px;
	}

	#projectsMenuLabel {
		width: 155px;
	}

	#usersMenuLabel {
		width: 140px;
	}
}

/*tablet styles*/
@media only screen and (min-width:481px) and (max-width:979px){
	.buttonDefault{
		background: none;
		text-align: center;
		display:inline-block;
		border: 2px solid #FFFFFF;
		padding: 10px 35px;
		width: 150px;
		margin: 10px 30px 10px 0;
		color: #FFFFFF;
		text-decoration:none;
		text-transform: uppercase;
		cursor:pointer;
		font-size: 9pt;
	}

	.buttonDefault:hover,
	.buttonDefault:focus{
		text-decoration:none;
		-webkit-transition: background-color 1000ms ease;
		-moz-transition: background-color 1000ms ease;
		-ms-transition: background-color 1000ms ease;
		-o-transition: background-color 1000ms ease;
		transition: background-color 1000ms ease;
		background-color: #FFFFFF;
		color:#000000;
	}

	.tasksMenuMain{
		border:1px solid #FFF;
		margin: 25px auto;
		width: 95%;
		text-align: center;
	}

	.tasksMenuLabel{
		margin: -10px 5px;
		padding: 0px 5px;
		width: 115px;
		background: #303238 url(../../images/bg01.png);
	}

	.tasksMenuInfo {
		width: 90%;
		margin: 25px auto 0;
	}

	.tasksMenuContainer {
		width: 95%;
		margin: 15px auto;
	}

	.subMenuContainer {
		margin: 15px auto;
		max-width: 95%;
		text-align: center;
	}

	#cardsMenu{
		margin-bottom: 60px !important;
	}

	#cardsMenuLabel{
		width:140px;
	}

	#projectsMenuLabel {
		width: 155px;
	}

	#usersMenuLabel {
		width: 140px;
	}

}

/*Desktop styles*/
@media only screen and (min-width:980px){
	.buttonDefault{
		background: none;
		text-align: center;
		display:inline-block;
		border: 2px solid #FFFFFF;
		padding: 10px 35px;
		width: 190px;
		margin: 10px 30px 10px 0;
		color: #FFFFFF;
		text-decoration:none;
		text-transform: uppercase;
		cursor:pointer;
		font-size: 10pt;
	}

	.buttonDefault:hover,
	.buttonDefault:focus{
		text-decoration:none;
		-webkit-transition: background-color 1000ms ease;
		-moz-transition: background-color 1000ms ease;
		-ms-transition: background-color 1000ms ease;
		-o-transition: background-color 1000ms ease;
		transition: background-color 1000ms ease;
		background-color: #FFFFFF;
		color:#000000;
	}

	.tasksMenuMain{
		border:1px solid #FFF;
		margin: 25px auto;
		text-align: center;
		width: 95%;
	}

	.tasksMenuLabel{
		margin: -10px 5px;
	  padding: 0px 5px;
	  width: 115px;
	  background: #303238 url(../../images/bg01.png);
	}

	.tasksMenuInfo {
    width: 90%;
    margin: 25px auto 0;
	}

	.tasksMenuContainer {
    width: 600px;
    margin: 15px auto;
	}

	.subMenuContainer {
		margin: 15px auto;
    max-width: 895px;
    text-align: center;
	}

	#cardsMenu{
	  margin-bottom: 60px !important;
	}

	#cardsMenuLabel{
		width:140px;
	}

	#projectsMenuLabel {
    width: 155px;
	}

	#usersMenuLabel {
    width: 140px;
	}

}
