<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>HTML Email</title>
	</head>
	<body style="margin:0; padding:0; color:#FFF; font-family: Arial, Helvetica, sans-serif; background-color:#FFF;">
    <table bgcolor="#544747" style="width:50%; height:100%; margin:25px auto; padding:15px;" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td style="padding-top:0; padding-bottom:25px;"><img align="left" alt="James McHugh Freelance Web Developer Logo" src="images/logo.png"/></td>
        </tr>
        <tr>
            <td height="50px">Hello [name]</td>
        </tr>
        <tr>
            <td height="75px">Thank you for your recent enquiry, your message has been recieved and saved to my system.
                I will aim to get a reply back to you within 14 working days, this maybe sooner depending on the volume of responses I recieve.</td>
        </tr>
        <tr>
            <td height="75px">However, if you wish for a quicker response or wish to contact me about an urgent matter please send an email to
              <a style="color: #7b818c; text-decoration:none; cursor:pointer" href="mailto:james.mchugh.webdeveloper@gmail.com">james.mchugh.webdeveloper@gmail.com</a>.</td>
        </tr>
        <tr>
          <td height="75px">Do you have an account with us?</td>
        </tr>
        <tr>
            <td align="center" height="100px">
              <a href="#" style="height:50px; text-decoration:none; background-color:#FFF; border:3px solid #FFF; color: #7b818c; padding:15px 60px; margin-right:50px">Login</a>
              <a href="#" style="height:50px; text-decoration:none; background-color:#FFF; border:3px solid #FFF; color: #7b818c; padding:15px 50px; ">Register</a>
            </td>
        </tr>
        <tr>
          <td height="50px">If you register for an account you can setup and manage projects for free or you can login to your account for the link above.</td>
        </tr>
        <tr>
          <td height="75px">Kind Regards</td>
        </tr>
        <tr>
          <td height="50px;" style="padding-left:125px;">James McHugh</td>
        </tr>

      </tbody>
    </table>
  </body>
</html>
